<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/styles2.css">
    <title>Nav Content Page</title>
</head>

<body>

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-4">
                <!-- edit size of form here -->
                <form class="form-signin">
                    <div class="text-center mb-4">
                        {{!----}}
                        <h1 class="name">KEMsList</h1>
                        <p>KEMslist provides local classifieds and forums for jobs, housing, for sale, services, local community,
                            and events.</p>
                    </div>
            </div>
        </div>
    </div>
    
    <nav class="nav flex-column">
        <a class="nav-link active" href="#">Auto</a>
        <a class="nav-link" href="#">Shoes</a>
        <a class="nav-link" href="#">Outdoor</a>
        <a class="nav-link" href="#">Homes</a>
        <a class="nav-link disabled" href="#">Disabled</a>
    </nav>



</body>

</html>