<!-- Nav Bar -->
<nav class="border navbar navbar-expand-lg navbar-light bg-light fixed-top sticky-top">
    <a class="navbar-brand" href="#">KEMsList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">My Account</button>
            </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sell</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Automotive</a>
                    <a class="dropdown-item" href="#">Books</a>
                    <a class="dropdown-item" href="#">Clothing</a>
                    <a class="dropdown-item" href="#">Electronics</a>
                    <a class="dropdown-item" href="#">Furniture</a>
                    <a class="dropdown-item" href="#">Appliances</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Sort-by
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Price (high-low)</a>
                    <a class="dropdown-item" href="#">Price (low-high)</a>
                    <a class="dropdown-item" href="#">Most Recent</a>
                    <a class="dropdown-item" href="#">Location</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!-- {{!-- end of navbar --}}   -->
{{!-- <br>
<br> --}}
<!--display image cards row 1-->
<div class="container-row1">
    <div class="card-deck">
        <div class="card zoom">
            <img class="card-img-top" src="https://media-cf.assets-cdk.com/teams/repository/export/7d5/668b06d19100588cf00146efa6b30/7d5668b06d19100588cf00146efa6b30_c242x13-1565x879.jpg"
                alt="Card image cap">
            <div class="card-body">
                <p>Automotive</p>
                <p class="card-text">
                    <strong>$21,500</p>
                </strong>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card zoom">
            <img class="card-img-top" src="https://cdn.aarp.net/content/dam/aarp/money/budgeting_savings/2016/04/1140-yeager-sell-your-used-books.imgcache.rev6feda141288df73e8fd100822bb375ea.jpg"
                alt="Card image cap">
            <div class="card-body">
                <p>Books</p>
                <p class="card-text">
                    <strong>$7.50 - 29.99</p>
                </strong>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 6 mins ago</small>
            </div>
        </div>
        <div class="card zoom">
            <img class="card-img-top clothes" src="https://moderntailor.com/v12/images/galimg4.jpg" alt="Card image cap">
            <div class="card-body">
                <p>Clothing</p>
                <p class="card-text">
                    <strong>$39.99</p>
                </strong>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 12 mins ago</small>
            </div>
        </div>
    </div>
</div>
<br>
<!--display image cards row 2-->
<div class="container-row2">
    <div class="card-deck">
        <div class="card zoom">
            <img class="card-img-top" src="https://souqcms.s3.amazonaws.com/spring/images/2017/Apple/apple-macbook-pro-touch-bar-touch-id/4-apple-macbook-pro-touch-bar-touch-id-core-i7-15-inch-space-gray.jpg"
                alt="Card image cap">
            <div class="card-body">
                <p>Electronics</p>
                <p class="card-text">
                    <strong>$839.99</p>
                </strong>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 23 mins ago</small>
            </div>
        </div>
        <div class="card zoom">
            <img class="card-img-top" src="https://images.roomstogo.com/img/landingpages/livingroom/091517-lr-uph.jpg" alt="Card image cap">
            <div class="card-body">
                <p>Furniture</p>
                <p class="card-text">
                    <strong>$59.99 and Up</p>
                </strong>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 4 mins ago</small>
            </div>
        </div>
        <div class="card zoom">
            <img class="card-img-top" src="https://www.startvappliance.com/images/appliance-repair1.png" alt="Card image cap">
            <div class="card-body">
                <p>Appliances</p>
                <p class="card-text">
                    <strong>$499.99 and Up</p>
                </strong>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 1 mins ago</small>
            </div>
        </div>
    </div>
</div>
<!-- {{!-- carousel --}} -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="amazon" src="/images/amazon.png">
        </div>
    </div>
</div>
<!-- {{!-- end of courousel --}} -->
<!-- <hr style="padding-top: 10px;"> {{!-- footer --}} -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">KEMsList</h5>
                <p class="grey-text text-light-4">KEMslist provides local classifieds and forums for jobs, housing, for sale, services, local community, and
                    events.</p>
                <div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2018 Copyright
                </div>
            </div>
</footer>