<div class="container">
    <div class="row">
        <h1>New Post</h1>
    </div>
    <form action="">
        <label for="item_name">Item Name: </label>
        <input type="text" id="item_name" ><br>
        <label for="item_price">Price: </label>
        <input type="text" id="item_price"><br>
        <label for="item_description">Description: </label>
        <textarea name="" id="item_description" cols="30" rows="10"></textarea><br>
        <label for="item_img_url">Image URL: </label>
        <input type="text" id="item_img_url"><br>
        <label for="item_category">Category: </label>
        <input type="text" id="item_category"><br>
        <label for="item_location">location: </label>
        <input type="text" id="item_location"><br>

        <button type="submit" id="new-post">Submit Post</button>
        
    </form>

</div>