body {
  background-color: gray;
}

.list-group-item {
  line-height: 2.5;
}

/* about line */
p {
  color: white;
  font-size: 10px;
}

/* copyright date */
.footer-copyright {
  color: rgb(80, 75, 75);
  font-size: 15px;
  font-family: 'Playfair Display', serif;
}

/* site name */
h1 {
  color: rgb(148, 143, 143);
  font-family: 'Playfair Display', serif;
}

/* email address input */
/* .form-label-group {
  color: rgb(167, 164, 164);
  font-family: 'Playfair Display', serif;
}

.checkbox {
  color: rgb(167, 164, 164);
  font-family: 'Playfair Display', serif;
}

.col-4 {
  padding: 60px;
} */

/* sign in border */
.btn {
  border: 1px solid rgb(119, 56, 119);
}

.page-footer {
  background-color: rgb(90, 83, 83);
}

form.signup,
form.login {
  margin-top: 50px;
}

/* hover for the card picture */
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-text {
  text-align: center;
}