.list-group-item {
    line-height: 2.5;
}

body {
    background-image: url(http://www.hortongroup.com/hs-fs/hubfs/Services%20Rework/backgrounds/websites%20and%20custom/ecommerce%20background.png?t=1532867516794&width=640&height=334&name=ecommerce%20background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

